@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&family=Rubik+Vinyl&family=Syne:wght@400..800&display=swap');

.skateview-skate-svg {
    width: 50px;
    height: auto;
  }

  .skate-designer-rendering {
    width: 300px;
    height: auto;
  }

body {
  display:block;
  background-color: #FEFCF2;
}

h1 {
  display: flex 0 80px;
  font-family: 'Rubik Spray Paint', sans-serif;
  font-weight: 100;
  font-size: 64px;
  letter-spacing: 2px;
  word-spacing: 20px;
  color: #F34121;
  text-align: center;
  border-bottom: 3px solid #CCC5B9;
  margin-block-start: 0px;
}

h2 {
  font-family: 'Syne', sans-serif;
  font-size: 36px;
  color: Black;
  text-align: center;
  margin-block-start: 0px;
}

.landing-page-button {
  font-family: 'Rubik Spray Paint', sans-serif;
  font-size: 33px;
  background-color: #3A6EA5;
  color: #FEFCF2;
  border-radius: 10px;
  text-align: left;
  padding: 30px;
  text-decoration: none;
}

.landing-page-button:hover {
  font-family: 'Rubik Spray Paint', sans-serif;
  font-size: 33px;
  background-color: #4b76a5;
  color: #FEFCF2;
  border-radius: 10px;
  text-align: left;
  padding: 30px;
  text-decoration: none;
}

footer {
  border-top: 3px solid #CCC5B9;
  display: flex 0 30px;
  font-family: 'Syne', sans-serif;
  font-size: 18px;
  color: #CCC5B9;
  text-align: center;
  line-height: 10px;
}