@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&family=Rubik+Vinyl&family=Syne:wght@400..800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.skateview-skate-svg {
  width: 50px;
  height: auto;
}

.skate-designer-rendering {
  width: 300px;
  height: auto;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #FEFCF2;
  height: 100vh;
}

header {
  display: flex 0 0 80px;
}

footer {
  display: flex 0 0 30px;
  font-family: 'Syne', sans-serif;
  font-size: 24px;
  color: #CCC5B9;
  line-height: 10px;
}

main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: row;
}

.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.signin-button-primary {
  background-color: #3A6EA5;
  color: #FEFCF2;
  font-family: 'syne', sans-serif;
}

.signin-button-secondary {
  background-color: #dbdbdb;
  color: black;
  font-family: 'syne', sans-serif;
}

.signin-button-primary:hover {
  background-color: #4b76a5;
  color: #FEFCF2
}

.signin-button-secondary:hover {
  background-color: #e0e0e0;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


h1 {
  display: flex 0 80px;
  font-family: 'Rubik Spray Paint', sans-serif;
  font-weight: 100;
  font-size: 64px;
  letter-spacing: 2px;
  word-spacing: 20px;
  color: #F34121;
  text-align: center;
  margin-block-start: 0px;
}

.landing-page-button {
  font-family: 'Rubik Spray Paint', sans-serif;
  font-size: 36px;
  background-color: #3A6EA5;
  color: #FEFCF2;
  border-radius: 20px;
  text-align: left;
  padding: 30px;
  text-decoration: none;
}

.landing-page-button:hover {
  background-color: #4b76a5;
  color: #FEFCF2;
}

.button-not-available {
  font-family: 'Rubik Spray Paint', sans-serif;
  font-size: 36px;
  background-color: #d3d3d3;
  color: black;
  border-radius: 20px;
  text-align: left;
  padding: 30px;
  text-decoration: none;
}

.button-not-available:hover {
  color: black;
}

h2 {
  font-family: 'Syne', sans-serif;
  font-size: 36px;
  color: Black;
  text-align: start;
  margin-block-start: 0px;
}

h3 {
  font-family: 'Syne', sans-serif;
  font-size: 28px;
  color: black;
  text-align: center;
}

@media (max-width: 600px) {
  h1 {
    font-size: 36px;
  }

  .landing-page-button {
    font-size: 24px;
    padding: 20px;
  }

  h2 {
    font-size: 24px;
  }
}

/* Hexcodes for each color: Black:000000 Red:BF1E2D Orange:F1592A Blue:0F75BC Green:2BB673 */
.selector-button-black {
  background-color: #000000;
  border: none;
  border-radius: 12px;
}

.selector-button-red {
  background-color: #BF1E2D;
  border: none;
  border-radius: 12px;
}

.selector-button-orange {
  background-color: #F1592A;
  border: none;
  border-radius: 12px;
}

.selector-button-blue {
  background-color: #0F75BC;
  border: none;
  border-radius: 12px;
}

.selector-button-green {
  background-color: #2BB673;
  border: none;
  border-radius: 12px;
}





.divider {
  border-top: 3px solid #CCC5B9;
  display: flex 0 30px;
}

.skate-name-input {
  background-color:#FEFCF2; 
  width: 100%; 
  font-family: 'Syne', sans-serif; 
  font-size: 36px; 
  text-align: center;
  border: inset 3px;
}

.skateview-single-skate {
  background-color: #3A6EA5;
  color: #FEFCF2;
  font-family: 'Syne', sans-serif;
  font-size: 18px;
  border-radius: 20px;
  text-align: center;
}

